.hidden {
  display: none;
}

img {
  background-color: white;
}

.weather {
  background-color: white;
}
.visible {
  display: block;
  transition-property: display;
  transition-duration: 1s;
}

#card {
  margin: 0 auto;
}

#unit {
  width: 1.5em;
  height: 1.5em;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  color: white;
}

#geolocation {
  font-size: 1em;
}

body {
  background-color: #052d61;
}

h1 {
  /* background-color: black; */
  color: white;
}

#city {
  width: 20em;
  margin: 0 auto;
  background-color: #052d61;
  color: hsl(0, 0%, 100%);
}
