.hidden {
  display: none;
}

.visible {
  display: block;
  transition-property: display;
  transition-duration: 1s;
}

#card {
  margin: 0 auto;
}

#unit {
  width: 1.5em;
  height: 1.5em;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#geolocation {
  font-size: 1em;
}
